#entradaysalida{
    border: solid 5px rgb(147, 197, 30);
    background-color: rgb(50, 160, 50);
width: 80%;
border-radius: 10px;
}

#resultado{
    border: solid 5px rgb(147, 197, 30);
   border-radius: 10px;
}

#punto2{
    border: solid 5px yellow;
}
#conversion{
    width: 80%;
    border: solid 5px greenyellow;
}
#ej2conv{
    border: solid 4px blue;
}

#borrar{
    border: solid 3px yellow;
    height: 36vh;
    background-color: blue;
}
#guardar{
    border: solid 3px red;
    height: 36vh;
    background-color: rgb(54, 209, 67);
}